
.skill-section__title{
    font-family: "roboto", Arial, sans-serif;
    color: $main-fonts-color;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    
    position: relative;
    line-height: 1.2;
    text-align: left;
}

.skill-section{
    margin-top: 40px;
}