.about-data{
    text-align: center;
    // width: 50%;
    margin-left: 35px;
    @include tablets{
        width: 70.83%;
        margin: 0 auto;
    }
    @include phones{
        width: 98%;
    }
}

.about-user-info__title{
    width: 255px;
    margin: 0 auto;
}

.about-data__description{
    margin-top: 53px;
}