.footer__bottom{
    text-align: center;
    height: 37px;
    background-color: rgba(108, 156, 90, 0.851);
}

.copiright{
    font-family: "roboto", Arial, sans-serif;
    color: #e4e4e5;
    font-size: 16px;
    font-weight: 300;
    padding-top: 6px;
}

