.hamburger{
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url('../img/icons/hamburger.svg');
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 35px;
}