.map{
    height: 965px;
    background-color: #b9b9b9;
    background-image: url('../../assets/img/bg/map.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

