.skill-section__list{
    text-align: left;
  @include tablets{
    text-align: center;  
  }
  @include phones{
    width: 100%;
    margin: 0 auto;
  }
}

.circles {
  fill: none;
  stroke-width: 21;
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  stroke: #74a163;
  stroke-dasharray: 90 282.6;
  transition: all 1s;
}

.skills-section__item{
  display: inline-block;
  width: 110px;
  height: 110px;
  position: relative;
  margin-right: 33px;
  margin-bottom: 20px;
  &:last-child(){
    margin-right: 0;
  }
  @include phones{
    margin: 0 16px 30px 16px;
    &:last-child(){
      margin-right: 16px;
    }
  }

}

.skill__name{
    color: #4e8839;
    font-family: "roboto", Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    width: 60px;
    text-align: center;
    @include centered();
}