.triangle {
  height: 100px;
  width: 100%;

  &_fill {

    &_green {
      fill: $green;
    }

    &_white {
      fill: $white;
      @include tablets{
        fill: $green;
      }
    }

  }
}

.blog{
  .triangle{
    @include tablets{
        fill: $white;
    }
  }
}


.triangles{
  position: relative;
}

.triangles__right, .triangles__left{
  width: 50%;
  float: left;
}

.triangles__left{
  position: absolute;
  bottom: 0;
  left: 0;
}
.triangles__right{
  position: absolute;
  bottom: 0;
  right: 0;
}