//colors
$green: #ebefe2;
$white: #f4f5f0;
$main-title-color: #373e42;
$main-fonts-color: #566358;
$green-text: #4e8839;
$green-date: #6c9c5a;
$welcome-green:#122620;
$hamb-bgc: #5e8950;

//mixins
@import "helpers/animate";
@import "helpers/mixins";
@import "helpers/preloader";

//layout setups
@import "layout/setups";
@import "layout/fonts";



@import "blocks/**/*";



