.container{
    width: 378px;
    height: 400px;
    @include centered();
    background-color: rgba($welcome-green, .60);
    border-radius: 0 0 7px 7px;
    overflow: hidden;
}

.welcome__user-photo{
    margin: 0;  
}

.welcome__user-name{
    font-size: 28px;
    width: 255px;
    @include phones{
        width: 100%;
    }
}

.welcome__ueser-dest{
    color: rgba(#fff,.55);
    font-weight: 400;
}

.welcome__socials{
    @include centered(x);
    top: 285px;
}

.welcome__socials-svg{
    fill: rgba(#fff,.55);
}

.welcome__user-block{
    @include centered(x);
    top: 40px;
}