.reviews{
    height: 100%;
    padding-bottom: 22.3%;
    background-color: #b9b9b9;
    background-image: url('../../assets/img/bg/reviews.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include laptop{
        padding-bottom: 31.3%;
    }
    @include tablets{
        padding-bottom: 42.3%;
    }
    @include phones{
        padding-bottom: 120.3%;
    }
}

.reviews__title{
    width: 500px;
    line-height: 1.2;
    @include phones{
        width: 340px;
    }
    
}

.reviews-title{
    &:after{
        margin-top: 20px !important;
    }
}

.arrow-up__link{
    position: absolute;
    bottom: 255px;
    @include centered(x);
    height: 16px;
    width: 26px;
    transition: all, 0.3s;
    .arrow-up{
        height: 16px;
        width: 26px;
        display: inline-block;
        opacity: .851;
        fill: #fff;
    }
}