.slider__desc-btn{
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    height: 45px;
    width: 200px;   
    padding: 9px 20px 9px 20px; 
    background-color: $green-text;
    border-radius: 23px;
    transition: all, 0.3s;
    @include tablets{
        padding: 9px 19px 9px 19px; 
    }
    @include phones{
        width: 216px;
        height: 50px;
    }
    &:hover{
        background-color: $green-date;
    }
}

.slider__desc-pic{
    margin-right: 10px;
    position: relative;
    top: 5px; 
}