
//- include ../common/mixins/mixin.pug
extends ../_template


block variables
  - var title = 'Блог'

block content
  .preloader
    .preloader__spinner
        .preloader__animation
            .hero
              svg(width="80" height="60" viewBox="0 0 80 60")
                path(class="wave" fill="none" stroke="#fff" stroke-width="4" stroke-linecap="round" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
            .hero
              svg(width="80" height="60" viewBox="0 0 80 60")
                path(class="wave2" fill="none" stroke="#fff" stroke-width="4" stroke-linecap="round" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
            .hero
              svg(
                width="80"
                height="60" 
                viewBox="0 0 80 60")
                path(class="wave3" fill="none" stroke="#fff" stroke-width="4" stroke-linecap="round" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
        .preloader__percents 0%
  include ../common/_blog
